body {
    font-family:"century gothic", sans-serif;
    background-color:#d7b8ff;
}

header {
    background-color:#482A80 ;
    padding-top:5px;
    padding-bottom:5px;
    //margin-bottom: 20px;
}

h1 {
    color:white;
    font-family: "arial narrow";
    font-size:50px;
    text-align: center;
}

form {
    text-align:center;
}

svg {
    background-color: white;
}

.name {
    font-weight: bold;
}

.left_padding{
    padding-left: 50px;
    padding-left: 100px;
    padding-right: 100px;
    display: none;
}

.wordCloud {
    clear: both;
}

.expandable {
    clear: both;
}

#output{
    display:none;
}

#myWordCloud{
    //background-color:white;
    //margin: 100px;

}

#top_match{
    clear: both;
}

@media screen and (max-width: 1080px) {
    h1 {
        font-size:70px;
    }
    h2 {
        font-size: 50px;
    }
    .title {
        //margin-bottom: 100px;
    }
    .formSize {
        font-size: 40px;
    }
    .formMargin {
        margin-top: 40px;
        margin-bottom: 40px;
    }
}